.structure 
 .container 
  .structure-block 
   .structure-block__path
    .structure-block__path-lines
    .structure-block__path-lines
    .structure-block__path-lines
    .structure-block__path-lines
    .structure-block__path-lines
   .structure-block__lines 
    .structure-block__business
     .structure-block__business-text Structure of<br>business
     +image_png('logo_w2')
    .structure-block__bord
     .structure-block__cards.big
      .structure-block__logo-card
      +image_svg('team_w')
      .structure-block__text-card A group of software development companies founded by InSoft Partners in partnership with Belkins Inc.
       .button-blocka
        .button-block__text learn more
        .button-block__bootom
         +image_png('arrow')
    .structure-block__bord-all
     .structure-block__bord
      .structure-block__cards
       .structure-block__logo-card
        +image_svg('in_a')
       .structure-block__text-card A product company that creates an innovative educational platform. 
        .button-blocka
         .button-block__text learn more
         .button-block__bootom
          +image_png('arrow')
      .structure-block__mini
       .structure-block__mini-line
        .structure-block__mini-lines
        .structure-block__mini-lines
        .structure-block__mini-lines
        .structure-block__mini-lines 
       .structure-block__cards-mini 
        .structure-block__logo-mini 
         +image_png('unit_l')
       .structure-block__cards-mini 
        .structure-block__logo-mini 
         +image_png('ucode_l')
       .structure-block__cards-mini 
        .structure-block__logo-mini 
         +image_png('Online_l')
     .structure-block__bord
      .structure-block__cards
       .structure-block__logo-card
       +image_svg('ucode_a')
       .structure-block__text-card A reliable IT vendor for complex software solutions
        .button-blocka
         .button-block__text learn more
         .button-block__bootom
          +image_png('arrow')
      .structure-block__mini 
       .structure-block__mini-line
        .structure-block__mini-lines
        .structure-block__mini-lines
        .structure-block__mini-lines
        .structure-block__mini-lines
       .structure-block__cards-mini 
        .structure-block__logo-mini 
         +image_png('lenal')
       .structure-block__cards-mini 
        .structure-block__logo-mini 
         +image_png('rozdoum')
       .structure-block__cards-mini 
        .structure-block__logo-mini 
         +image_png('rademade')


  .structure-buttom
   .structure-item 
    .structure-titlestru What we offer
    .structure-subtitle We deliver all kind of services to support business growth (from HR, business development to M&A).
   .structure-item 
    .structure-title Organizational Development 
    .structure-subtitle We create a long-term value for our portfolio companies from customers, markets, and relationships to implementing growth opportunities within and between organizations.
   .structure-item 
    .structure-title Equity Investments
    .structure-subtitle We invest in the equity of companies and interested in the buying of a controlling stake in most cases.
   .structure-item 
    .structure-title M&A Advisory  
    .structure-subtitle Consolidation of companies or assets through various types of financial transactions, including mergers, acquisitions, consolidations, purchase of assets and management acquisition

