main.main
  .page
    .page-row
      .page-row__colum-bg
        .page-row__contecst
          .page-row__container-5
            .page-row__title.title About InSoft Partners
            .page-row__subtitle.subtitle
              p
                | InSoft Partners is a niche Investment Management Company in IT field.
              ul.about__list
               li We invest in the equity of companies and interested in the buying of a controlling stake in most cases. InSoft Partners is actively involved in the business development of its portfolio companies.
               li We help at all stages of value creation (from finance management and HR through production and delivery to lead generation).  



            .button-block.white
              .button-block__text learn more
              .button-block__bootom
                +image_png('arrow')
      .page-row__colum-about 