.page__page-investing
   .container
        .page-investing__where
          .page-investing__sustainable
            .page-investing__text Where we stand
            .page-investing__title Sustainable Investing
            .page-investing__subtitle
              | We built companies recognizing that teams solving the world&apos;s biggest challenges can be best positioned to grow. It is about pioneering better ways of doing business, and creating the momentum to encourage more and more people to opt in to the future we&apos;re working to create
          .page-investing__corparate
            .page-investing__corparate-coloms
              .page-investing__corparate-head Corporate sustainability
              .page-investing__corparate-text
                | We put an unwavering focus on long-term sustainability and ensure it&apos;s embedded across our entire business.
            .page-investing__corparate-coloms
              .page-investing__corparate-head Investment stewardship
              .page-investing__corparate-text
                | We engage with companies to inform our voting and promote sound corporate governance that is consistent with sustainable, long-term value creation.