.arcticle 
	.container 	
		+image_png('arc1')
		.arcticle-block 
			.arcticle-block__head 
				.arcticle-block__head-text 
					| Flow’s Daniel Scrivner on the brave new world of asynchronous productivity tools
					p Long-term trends around distributed working have been dramatically accelerated due to COVID-19. But how will we adjust to the sudden move away from traditional work environments? Daniel Scrivner believes the answer lies in asynchronous tools that allow people to get their work done without bottlenecks.
			.arcticle-block__important 
				.arcticle-block__important-img 
				.arcticle-block__important-text 
					p Long-term trends around distributed working have been dramatically accelerated due to COVID-19. But how will we adjust to the sudden move away from traditional work environments? Daniel Scrivner believes the answer lies in asynchronous tools that allow people to get their work done without bottlenecks.
					p Daniel Scrivner believes the answer lies in asynchronous tools that allow people to get their work done without bottlenecks.

			.arcticle-block__information 
				.arcticle-block__information-text
				.arcticle-block__information-media
			.arcticle-block__important 
			.arcticle-block__information 
				.arcticle-block__information-text
				.arcticle-block__information-media