
.container
        .block-project__head
          .block-project__title Our Project
          .block-project__subtitle
            | Each year we have multiple ongoing projects. Here is the list of our recent ones.
        .block-project__all
          .block-project__logo
            +image_png('x')
            +image_png('x-team')
          .block-project__description
            .block-project__title X-Teams
            .block-project__subtitle
              | A group of software development companies founded by InSoft Partners in partnership with Belkins Inc. with the founding partners of each of the companies, having operational control of the parent group. Structurally, X-Teams has a single management center (Business Development, Recruiting, Finance) and separate R&amp;D (Delivery and HR). The group of companies also has a single brand and is fully responsible for the work of each R&amp;D that is part of it. Founding partners provide proactive lead generation, business development and drive mergers, and scaling.
            .block-project__button
              .button-block.blue
                .button-block__text--b learn more
                .button-block__bootom--b
                  +image_png('arrowb')
          .block-project__detail
            .block-project__detail-block
              .block-project__detail-title.detail-title Type
              .block-project__detail-text.detail-text
                p Active Organic Growth plus
                p Roll-Up
            .block-project__detail-block
              .block-project__detail-title.detail-title Location
              .block-project__detail-text.detail-text
                p United States, Ukraine
            .block-project__detail-block
              .block-project__detail-title.detail-title Date
              .block-project__detail-text.detail-text
                p Jul. 2020
            .block-project__detail-block
              .block-project__detail-title.detail-title Status
              .block-project__detail-text.detail-text
                p Open
        .block-project__all
          .block-project__logo
            +image_png('x')
            +image_png('x-team')
          .block-project__description
            .block-project__title ucode
            .block-project__subtitle
              | InSoft Partners in partnership with UFuture founded an IT product company operating in the EduTech segment. The company develops its own software-based educational product, creates content for it, and provides customer support. The ucode software product focuses on providing its customers with a unique set up education programs and services to help these customers to learn how to program. Methodologically, the product uses innovative and progressive approaches Challenged By Learning and Peer-to-Peer learning. ucode develops content together with partners, including Ubisoft, CISCO, Ajax Systems, etc.
            .block-project__button
              .button-block.blue
                .button-block__text--b learn more
                .button-block__bootom--b
                  +image_png('arrowb')
          .block-project__detail
            .block-project__detail-block
              .block-project__detail-title.detail-title Type
              .block-project__detail-text.detail-text
                p Venture Project
            .block-project__detail-block
              .block-project__detail-title.detail-title Location
              .block-project__detail-text.detail-text
                p Ukraine
            .block-project__detail-block
              .block-project__detail-title.detail-title Date
              .block-project__detail-text.detail-text
                p Apr. 2017 - Present
            .block-project__detail-block
              .block-project__detail-title.detail-title Status
              .block-project__detail-text.detail-text
                p Open
        .block-project__all
          .block-project__logo
            +image_png('x')
            +image_png('x-team')
          .block-project__description
            .block-project__title ITernal
            .block-project__subtitle
              | InSoft Partners in partnership with UFuture founded an IT product company operating in the EduTech segment. The company develops its own software-based educational product, creates content for it, and provides customer support. The ucode software product focuses on providing its customers with a unique set up education programs and services to help these customers to learn how to program. Methodologically, the product uses innovative and progressive approaches Challenged By Learning and Peer-to-Peer learning. ucode develops content together with partners, including Ubisoft, CISCO, Ajax Systems, etc.
            .block-project__button
              .button-block.blue
                .button-block__text--b learn more
                .button-block__bootom--b
                  +image_png('arrowb')
          .block-project__detail
            .block-project__detail-block
              .block-project__detail-title.detail-title Type
              .block-project__detail-text.detail-text
                p Roll-Up Project
            .block-project__detail-block
              .block-project__detail-title.detail-title Location
              .block-project__detail-text.detail-text
                p United States, Ukraine
            .block-project__detail-block
              .block-project__detail-title.detail-title Date
              .block-project__detail-text.detail-text
                p Feb. 2019 - Present
            .block-project__detail-block
              .block-project__detail-title.detail-title Status
              .block-project__detail-text.detail-text
                p Open
        .block-project__button--centr
          .button-block-grey.grey
            .button-block__text--g load close project
            .button-block__bootom--g
              +image_png('arrowb')
