.container 
	.industry-block 
		.industry-block__text Industry insights and recent news you won’t delete. Delivered to your inbox monthly.
		.industry-block__forms 
			<form action="#" method="post" enctype="multipart/form-data">
				<input .industry-block__mail placeholder="Your email address" tabindex="1" name="username" type="text" />
				a.industry-block__link(href='') 
					.question-block__button-block
						.question-block__button-text subscribe
						.question-block__button-bootom
							+image_svg('arrow_red')
			
			



