main.main
  .page
    .page-row
      .page-row__colum-bg
        .page-row__contecst
          .page-row__container-5
            .page-row__title.title Investment Management Company
            .page-row__subtitle.subtitle
              p
                | Having a team with extensive experience in developing IT companies, InSoft Partners is involved in the operating activities of portfolio companies, which contributes to their rapid growth
            
            a.button-block__link(href='') 	
             .button-block.white
              .button-block__text learn more					
              .button-block__bootom
               +image_png('arrow')
      .page-row__colum-img
        .page-row__logo InSoft
    .page-row
      .page-row__colum-img2
      .page-row__colum-bg2
        .page-row__contecst2
          .page-row__container2
            .page-row__title.title Next-generation investment company
            .page-row__subtitle.subtitle
              p InSoft Partners is a niche Investment Management Company in IT field.
              p
                | We invest in the equity of companies and interested in the buying of a controlling stake in most cases. InSoft Partners is actively involved in the business development of its portfolio companies.

            a.button-block__link(href='') 	 
             .button-block.white
               .button-block__text learn more
               .button-block__bootom
                 +image_png('arrow')
    .page-row3
      .page-row3__colum-gorovoi 
       .page-row3__colum-img3
        +image_png('gorovoi')
       .page-row3__img-name
        .page-row3__name Vitaly Gorovoy
        .page-row3__name-soft Founder at InSoft Partners 
       .page-row3__colum-comma
        +image_svg('comma')
      .page-row3__colum-bg3
        .page-row3__contecst3
          .page-row3__container3
            .page-row3__title3.title3 We help at all stages of value creation
            .page-row3__subtitle3.subtitle3
              p
                | From finance management and HR through production and delivery to lead generation
