.careers
	.container 
		.careers-container
		
			.police-block__content 
				.police-block__content-head
					.police-block__content-title Customer Support Engineer (Evenings)
						.police-block__content-data Kyiv, Ukraine
				.location-block__button 
					a.button-block__link(href='') 	
						.button-block.red
							.button-block__text--red submit application				
							.button-block__bootom--red
								+image_png('arrowb')
				.police-block__content-bold What's the opportunity?
				.police-block__content-text
					p
					| Senior Product Researchers are trusted advisors at Intercom and champion the use of research to inform and drive decision-making. Senior Product Researchers collaborate with Product Managers, Designers, Analysts and Engineers to define research problems and then execute research studies to solve them. It’s their job to own and drive research projects from start to finish.
					p 
					| Senior Product Researchers also provide mentoring and support to other team members and help evolve the research capability to meet Intercom’s changing needs.

					p 
					| Intercom uses formative research to identify what problems our customers have and design research to ensure solutions are intuitive and easy to use. Research is involved at every stage of the process; from understanding problems, the evaluation of concepts to the monitoring of solutions ost-launch.
					p 
					| Research plays a key role at Intercom by helping teams to understand the opportunities, contexts, audience and experiences. Working at pace is key and we experiment with processes, methodologies and ways of working to provide our partner teams with critical insights as quickly as possible.
				.police-block__content-bold What will I be doing?
				.police-block__content-text
					.police-block__content-list
						p
						ol 
							li Solve new problems with new talent
							li Support your senior designers
							li Introduce new design practices
							li Build a diverse team
							li Increase retention, engagement, and loyalty
							li Address underlying culture issues
							li Cut costs
				
				.police-block__content-bold What skills do I need?
				.police-block__content-text
					p
					| Senior Product Researchers are trusted advisors at Intercom and champion the use of research to inform and drive decision-making. Senior Product Researchers collaborate with Product Managers, Designers, Analysts and Engineers to define research problems and then execute research studies to solve them. It’s their job to own and drive research projects from start to finish.
					p 
					| Senior Product Researchers also provide mentoring and support to other team members 
					.police-block__content-list
						p
						ol 
							li Solve new problems with new talent
							li Support your senior designers
							li Introduce new design practices
							li Build a diverse team
							li Increase retention, engagement, and loyalty
							li Address underlying culture issues
							li Cut costs

			
			.contact-block__submit
				.contact-block__title Submit your application
					.contact-block__border
				p Leave your contacts and write a few words about your idea. All fields are required.
				form(action="#" method="post" enctype="multipart/form-data") 
					input.forms(placeholder='Name', tabindex='1', name='username', type='text')
					input.forms(placeholder='Email', tabindex='1', name='username', type='email')
					input.forms(placeholder='Text', tabindex='1', name='username', type='text')
				.contact-block__attach 
					+image_svg('sliver')
					p Attach file. <span>  Maximum file size 24 Mb
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-block.red
							.button-block__text--red send				
							.button-block__bootom--red
								+image_png('arrowb')
					.contact-block__send By clicking on the "Send" button you agree <span> to the privacy policy.