footer.footer
  .footer__container.container
    .footer__top
      .footer__top-logo
        .footer__logo-logo
          +image_png('logo_w')
        .footer__logo-text
          p
            | InSoft Partners is a niche Investment
            br
            | Management Company in IT field.
      .footer__top-text
        p
          | We invest in the equity of companies and interested in the buying of a controlling stake in most cases. InSoft Partners is actively involved in the business development of its portfolio companies.
    .footer__menu
      nav.menu-bootom
        ul.menu-bootom-footer
          li.menu-bootom__item
            p Open Projects
          li.menu-bootom__item
            a.menu-bootom__link(href='#') ITernal Group
          li.menu-bootom__item
            a.menu-bootom__link(href='#') ucode
          li.menu-bootom__item
            a.menu-bootom__link(href='#') X-Teams
      nav.menu-bootom
        ul.menu-bootom-footer
          li.menu-bootom__item
            p closed Projects
          li.menu-bootom__item
            a.menu-bootom__link(href='#') Core Value
          li.menu-bootom__item
            a.menu-bootom__link(href='#') WebCodium
      nav.menu-bootom
        ul.menu-bootom-footer
          li.menu-bootom__item
            p Resources
          li.menu-bootom__item
            a.menu-bootom__link(href='#') Blog
          li.menu-bootom__item
            a.menu-bootom__link(href='#') Our Deals History
          li.menu-bootom__item
            a.menu-bootom__link(href='#') About Us
          li.menu-bootom__item
            a.menu-bootom__link(href='#') Careers
      nav.menu-bootom
        ul.menu-bootom-footer
          li.menu-bootom__item
            p Support
          li.menu-bootom__item
            a.menu-bootom__link(href='#') Terms &amp; Conditions
          li.menu-bootom__item
            a.menu-bootom__link(href='#') Contact us
          li.menu-bootom__item
            a.menu-bootom__link(href='#') Privacy Policy
    .footer__social
      .footer__social-bootom
        a.footer__social--f(href='#')
          +image_png('f')
        a.footer__social--in(href='#')
          +image_png('in')
      .footer__social--web &copy; InSoft Partners. 2016-2020
		
