.history 
	.container 
		.history-head 
			.history-head__title Our Public Deals History
			.history-head__text Atom is a new kind of cloud-based logging system designed for applications and developers
		.history-table 
			.history-table__table.table

				.history-table__rows--head.table
					.history-table__rows-data Date
					.history-table__rows-company company
						
					.history-table__rows-equity amount <span> of equity
					.history-table__rows-transaction type <span> of transaction
						.history-table__value 

				.history-table__rows.table
					.history-table__rows-data Oct 2019
					.history-table__rows-company 
						
							+image_png('rade-g')
					.history-table__rows-equity 53.2%
					.history-table__rows-transaction
						.history-table__value.green Purchase

				.history-table__rows.table
					.history-table__rows-data Sep 2019
					.history-table__rows-company 
						
							+image_png('roz-g')
					.history-table__rows-equity 35%
					.history-table__rows-transaction
						.history-table__value.green Purchase


				.history-table__rows.table
					.history-table__rows-data Feb 2019
					.history-table__rows-company 
						
							+image_png('cor-g')
					.history-table__rows-equity 81%
					.history-table__rows-transaction
						.history-table__value.red Sale


				.history-table__rows.table
					.history-table__rows-data Jan 2019
					.history-table__rows-company 
						
							+image_png('roz-g')
					.history-table__rows-equity 35%
					.history-table__rows-transaction
						.history-table__value.green Purchase


				.history-table__rows.table
					.history-table__rows-data Oct 2018
					.history-table__rows-company 
						
							+image_png('len-g')
					.history-table__rows-equity 55%
					.history-table__rows-transaction
						.history-table__value.green Purchase


				.history-table__rows.table
					.history-table__rows-data Sep 2018
					.history-table__rows-company 
						
							+image_png('web-g')
					.history-table__rows-equity 100%
					.history-table__rows-transaction
						.history-table__value.red Sale


				.history-table__rows.table
					.history-table__rows-data Jul 2017
					.history-table__rows-company  NDA 
						
							
					.history-table__rows-equity Credit deal (loan)
					.history-table__rows-transaction
						.history-table__value.green Purchase


				.history-table__rows.table
					.history-table__rows-data Sep 2016
					.history-table__rows-company 
						
							+image_png('cor-g')
					.history-table__rows-equity 30%
					.history-table__rows-transaction
						.history-table__value.green Purchase


				.history-table__rows.table
					.history-table__rows-data Jun 2016
					.history-table__rows-company 
						
							+image_png('cor-g')
					.history-table__rows-equity 25.5%
					.history-table__rows-transaction
						.history-table__value.green Purchase


				.history-table__rows.table
					.history-table__rows-data Apr 2016
					.history-table__rows-company 
						
							+image_png('cor-g')
					.history-table__rows-equity 25.5%
					.history-table__rows-transaction
						.history-table__value.green Purchase

		.history-button
			a.button-block__link(href='') 
								.question-block__button-block.grey-block
									.question-block__button-text--grey email us for advisory
									.question-block__button-bootom--grey
										+image_png('arrowbd')