.internal
	.internal-ferst
		.container 
			.ucode-block__ucode-head
				.ucode-head 
					.ucode-head__head-code 
						.head-code__logo
							+image_png('internal1')
						.ucode-head_text Software development company founded by InSoft Partners together with UFuture. The idea behind the company's development and growth is a roll-up strategy (purchase and merger of boutique software development companies). The company has two R&D offices in Ukraine: Kyiv and Kharkiv. Provides services for all major pricing models (T&M, cost+, fix price). Major clients are located in the USA, Benelux, UK.
						.question-block__bottom
						.question-block__button-block
							.question-block__button-text learn more
							.question-block__button-bootom
								+image_png('arrow')
					.ucode-head__img-code
						+image_png('internal2')
				.ucode-menu 
					nav.ucode-menu__menu.menu-code
						.menu-code__body
							ul.menu-code__list
								li.menu-code__item
									a.menu-code__link(href='#') about us
								li.menu-code__item
									a.menu-code__link(href='#') education ecosystem
								li.menu-code__item
									a.menu-code__link(href='#') Partners
								li.menu-code__item
									a.menu-code__link(href='#') Gallery
	.container 
		.internal-client 
			.internal-client__story 
				p The story of ITernal Group started in 2019 with a merger of three IT outsource companies. The oldest of them was founded in 2004. The joined company has a wide expertise in more than 20 industries: adtech, martech, fintech, ERP, transport, logistics, eCommerce, and more. This offers great potential to companies that work with us. With our help, you can improve existing software, scale fast, or launch R&D centers with minimal efforts.

			.internal-client__block 
				.internal-client__partners 
					.internal-client__partners-title Clients
					.internal-client__partners-text We are proud of our partners who support us every step of the way.
				.internal-client__logo
					.internal-client__logo-img
						+image_png('internal-one')
						+image_png('internal-otp')
						+image_png('internal-sho')
						+image_png('internal-ukr')
						+image_png('internal-lem')
						+image_png('internal-nul')
						+image_png('internal-em')
						+image_png('internal-ero')
						+image_png('internal-dox')
						+image_png('internal-bor')
						+image_png('internal-roo')
	.internal-group 
		.container 
			.group-internal
				.block-group 
					.block-group__content 
						.block-group__title The InSoft strategy for ITernal Group
						
						.block-group__text Investment companies UFuture and InSoft Partners signed an agreement on strategic partnership in the IT industry and founded ITernal, a joint company that will specialize in IT outsourcing.

					.block-group__data July 1, 2019

				.block-internal 
					.block-internal__logo
						+image_png('internal-grup')
					.block-internal__text ITernal will develop software on a turnkey basis and provide software consultancy services that will help its customers to launch new-generation products and create value throughout their whole life cycle. The ITernal team has many years of experience working with tech giants like Ericsson, Telcordia, Chrysler, Samsung, DiGi, Avid, and BNP Paribas Group.
				.block-internal 
					.block-internal__logo
						+image_png('insofr-grup')
					.block-internal__text InSoft Partners will be responsible for market research and acquisition of IT companies, its subsequent consolidation, and strategic management and development. In turn, UFuture will use its international relationship map to build new strategic partnerships and contribute to the organic growth of the business. Today, ITernal is a majority shareholder in IT companies Lenal and Rozdoum, which it plans to expand rapidly through the development of a new marketing strategy and a series of international roadshows.
	.container
		.internal-founder
			.founder-block
				.founder-block__text 
					| The pace of Ukraine's IT industry development is staggering. It has been demonstrating annual growth of 20-26% for quite a long time. These are billions in revenue. I am convinced that ITernal enters the market in time and will become one of the major players thoroughly contributing to the development of innovation and creative economy of our country
				.founder-block__founder 
					.founder-block__avatar 
						.founder-block__coma 
							+image_png('coma')
						.founder-block__foto
							+image_png('founder-kh')
					.founder-block__info
						.founder-block__name Vasyl khmelnytsky
						.founder-block__partner Founder of UFuture
						.founder-block__logo
							+image_png('founder-ufu')
			.founder-block
				.founder-block__text 
					| Combining a deep understanding of the processes related to IT industry and M&A skills, we still plan to implement a roll-up strategy that has been a subject for discussion among the market players for at least 10 years. In addition, we continue to see a great demand for software development services and we know how to transform the classic software development outsourcing model to get a margin that is significantly higher than the market average
				.founder-block__founder 
					.founder-block__avatar 
						.founder-block__coma 
							+image_png('coma')
						.founder-block__foto
							+image_png('founder-gor')
					.founder-block__info
						.founder-block__name Vitaly Gorovoy
						.founder-block__partner Founder at InSoft Partners 
						.founder-block__logo
							+image_png('founder-in')