.quotes
	.container 
		.quoters-top__top 
			.quoters-top__text The creative economy of Ukraine is developing dynamically. The amount of investments and the number of startups in this industry are growing rapidly. According to experts, revenues in the Ukrainian IT-sector will amount to about $5 billion in 2019. We and our partners are convinced that ITernal Group will take a worthy place in the market and will contribute to the development of the innovative economy of Ukraine
					.quoters-top__autor Vasyl Khmelnytsky
					.quoters-top__founder Founder of UFuture
			.quoters-top__our-project
				.quoters-top__project-title Quotes about our projects:
				.quoters-top__project-text In the summer of 2019, UFuture and InSoft Partners entered into a strategic partnership agreement in IT-industry and established a joint company.
				.quoters-top__project-autor
					.quoters-top__avatar
						+image_png('hmelnitskyi') 
						+image_png('gorovoi2')
		.quoters-button__button
			.quoters-button__choose 
				.quoters-button__choose-title Why Choose Us
				.quoters-button__choose-text
													|InSoft Partners is actively involved in the business development of its portfolio companies. We help at all stages of value creation (from finance management and HR through production and delivery to lead generation).
			.quoters-button__benefits
				.quoters-button__benefits-item 
					.quoters-button__title Internation Experience
						.quoters-button__text We tackled projects from the United States to Ukraine, having internal experts in M&A, Biz Dev, Accounting and Operations.
					.quoters-button__icon
						+image_svg('2ppl')
				.quoters-button__benefits-item 
					.quoters-button__title Custom-tailored approach
						.quoters-button__text We appreciate each portfolio company and consider all demands throughout our cooperation both for internal and external partners.
					.quoters-button__icon
						+image_svg('massage')
				.quoters-button__benefits-item 
					.quoters-button__title Internation Experience
						.quoters-button__text We tackled projects from the United States to Ukraine, having internal experts in M&A, Biz Dev, Accounting and Operations.
					.quoters-button__icon
						+image_svg('communic')
				.quoters-button__benefits-item 
					.quoters-button__title Organizational Development 
						.quoters-button__text We create a long-term value for our portfolio companies from customers, markets, and relationships to implementing growth opportunities within and between organizations.
					.quoters-button__icon
						+image_svg('gear')