.location 
	.container 
		.location-head Careers
		.location-menu 
			form(action="") 
				select.location-menu__locatiom(name="select") 
					<option value="value1">All location</option>	
					<option value="value1">Kyiv, Ukraine</option>	
					<option value="value1">London, UK</option>	
		.location-body 
			.location-item 
				.location-item__head Customer Support
					.location-item__head--border 
				.location-item__occupotion Customer Support Engineer (Evenings)
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Customer Support Engineer (Evenings)
				.location-item__location London, UK
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
			.location-item 
				.location-item__head Engineering Team
					.location-item__head--border 
				.location-item__occupotion Software Engineering Manager
				.location-item__location London, UK
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
			.location-item 
				.location-item__head Customer Support
					.location-item__head--border 
				.location-item__occupotion Customer Support Engineer (Evenings)
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Customer Support Engineer (Evenings)
				.location-item__location London, UK
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
			.location-item 
				.location-item__head Engineering
					.location-item__head--border 
				.location-item__occupotion IT Specialist
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Engineering Manager
				.location-item__location London, UK
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
			.location-item 
				.location-item__head Product Design and Research
					.location-item__head--border 
				.location-item__occupotion Manager, Product Design
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Product Designer, Growth
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Senior Product Researcher, Growth
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Senior Product Designer
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
			.location-item 
				.location-item__head Product Management
					.location-item__head--border 
				.location-item__occupotion Product Manager, Dev Platform
				.location-item__location London, UK
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Product Manager, Growth
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
				.location-item__occupotion Senior Product Manager
				.location-item__location Kyiv, Ukraine
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')
			.location-item 
				.location-item__head Sales
					.location-item__head--border 
				.location-item__occupotion Sales Engineer
				.location-item__location London, UK
				.contact-block__button 
					a.button-block__link(href='') 	
						.button-blocks.red
							.button-block__text--red see more				
							.button-block__bootom--red
								+image_png('arrowb')

