main.main
  .page
    .page-row
      .page-row__colum-bg
        .page-row__contecst
          .page-row__container-5
            .page-row__title.title Investment Management Company
            .page-row__subtitle.subtitle
              p
                | Having a team with extensive experience in developing IT companies, InSoft Partners is involved in the operating activities of portfolio companies, which contributes to their rapid growth
            .button-block.white
              .button-block__text learn more
              .button-block__bootom
                +image_png('arrow')
      .page-row__colum-img
        .page-row__logo InSoft