.police 
	.container 
		.police-head Terms & Policies
		.police-block 
			.police-block__menu  
				ul.police-block__list Terms & Conditions
					li.police-block__link Fund and Advisor Disclosures
					li.police-block__link Fund and Advisor Disclosures
					li.police-block__link Fund and Advisor Disclosures
				ul.police-block__list Privacy
					
				ul.police-block__list Coockie
					
			.police-block__content 
				.police-block__content-head
					.police-block__content-title Terms & Conditions
						.police-block__content-data Effective day 22 July 2020
					a.police-block__content-link(href="#") 
						.police-block__content-print print page
				.police-block__content-text
					p
					| Nothing contained on this Website constitutes tax, accounting, regulatory, legal, insurance or investment advice. Neither the information, nor any opinion, contained on this Website constitutes a solicitation or offer by BlackRock, Inc. ("BlackRock") or its affiliates to buy or sell any securities, futures, options or other financial instruments, nor shall any such security be offered or sold to any person in any jurisdiction in which such offer, solicitation, purchase, or sale would be unlawful under the securities laws of such jurisdiction. Decisions based on information contained on this Website are the sole responsibility of the visitor. In exchange for using this Website, the visitor agrees to indemnify and hold BlackRock, its officers, directors, employees, affiliates, agents, licensors and suppliers harmless against any and all claims, losses, liability, costs and expenses (including but not limited to attorneys' fees) arising from your use of this Website, from your violation of these Terms or from any decisions that the visitor makes based on such information.
				.police-block__content-bold Fund and Advisor Disclosures
				.police-block__content-text
					p 
					| The investments and strategies discussed in the Website may not be suitable for all investors and are not obligations of BlackRock or its affiliates or guaranteed by BlackRock or its affiliates. BlackRock makes no representations that the contents are appropriate for use in all locations, or that the transactions, securities, products, instruments, or services discussed on this site are available or appropriate for sale or use in all jurisdictions or countries, or by all investors or counterparties. By making available information on the Website, BlackRock does not represent that any investment vehicle is available or suitable for any particular user. All persons and entities accessing the Web Site do so on their own initiative and are responsible for compliance with applicable local laws and regulations.

					p 
					| All investments involve risk and may lose value. The value of your investment can go down depending upon market conditions. Fixed income investments are subject to risk including interest rate, credit, market and issuer risk. Currency exchange rates may cause the value of an investment to go up or down. Alternative strategies involve higher risks than traditional investments, may not be tax efficient, and have higher fees than traditional investments; they may also be highly leveraged and engage in speculative investment techniques, which can magnify the potential for investment loss or gain. BEFORE ACQUIRING THE SHARES OF ANY INVESTMENT FUND BY PURCHASE OR EXCHANGE, IT IS YOUR RESPONSIBILITY TO READ THE FUND'S PROSPECTUS OR OFFERING MATERIALS.
					p 
					| This Website is for information purposes only and is not intended to be relied upon as a forecast, research or investment advice. The information on this Website does not constitute a recommendation, offer or solicitation to buy or sell any securities or to adopt any investment strategy. Although this material is based upon information that BlackRock considers reliable and endeavors to keep current, BlackRock does not assure that this material is accurate, current or complete, and it should not be relied upon as such. Any opinions expressed on this Website may change as subsequent conditions vary. Past performance is no guarantee of future results.
				.police-block__content-bold Fund and Advisor Disclosures
				.police-block__content-text
					p 
					| The information and services provided on this Website are provided "AS IS" and without warranties of any kind, either expressed or implied. To the fullest extent permissible pursuant to applicable law, BlackRock disclaims all warranties, including, but not limited to, any warranty of non-infringement of third-party rights and any implied warranties of merchantability and fitness for a particular purpose. BlackRock does not warrant, either expressly or impliedly, the accuracy or completeness of the information, text, graphics, links or other items contained on this Website and does not warrant that the functions contained in this Website will be uninterrupted or error-free, that defects will be corrected, or that the Website will be free of viruses or other harmful components. BlackRock expressly disclaims all liability for errors and omissions in the materials on this Website and for the use or interpretation by others of information contained on the Website.