.question 
	.container 
		.question-block 
			.question-block__text Any question about our investment management company?
			.question-block__bottom
				.question-block__button-block
					.question-block__button-text email us for advisory
					.question-block__button-bootom
						+image_png('arrow')