.team3 
	.container 
		.team3-block 
			.team3-block__group 
				.team3-block__group-software 
					.group-software__title A group of software development companies that can execute even the most unpredictable ideas!
					.group-software__text Share your project or talent requirements and we'll match you with our portfolio companies who are perfect for executing your project perfectly. 
				.team3-block__group-programming 
					.group-programming__blocks-item 
						.blocks-item__head Industries
						.blocks-item__item e-Commerce & Retail
						.blocks-item__item FinTech & Banking
						.blocks-item__item Education
						.blocks-item__item Media & Entertainment
						.blocks-item__item e-Health & Healthcare
					.group-programming__blocks-item 
						.blocks-item__head PROGRAMMING <br>LANGUAGES
						.blocks-item__item Python
						.blocks-item__item Swift
						.blocks-item__item Javascript
						.blocks-item__item Java
						.blocks-item__item PHP
					.group-programming__blocks-item 
						.blocks-item__head SERVICES
						.blocks-item__item Web Development
						.blocks-item__item Mobile Development
						.blocks-item__item Cloud Services <br>Development
						.blocks-item__item Product Management
						.blocks-item__item UX/UI
						.blocks-item__item Software Testing & QA
		.team3-block__dream-team
			.dream-team__title Some of our teams
			.dream-team__menu-dream
				ul.menu-dream
					li.menu-dream__item
						a.menu-dream__link.active(href="#") rademade
					li.menu-dream__item
						a.menu-dream__link(href="#") rozdoum
					li.menu-dream__item
						a.menu-dream__link(href="#") corevalue
					li.menu-dream__item
						a.menu-dream__link(href="#") Lenal

			.dream-team__person-card
				.person-card__foto 
					+image_png('foto_11')
					.person-card__item
						.person-card__name Patrick Pool
						.person-card__info CEO. 10 years of experience
						.person-card__button
							.button-block.white
								.button-block__text learn more
								.button-block__bootom
									+image_svg('arrow')
							.person-card__mail
								+image_svg('mail')

				.person-card__foto 
					+image_png('foto_12')
					.person-card__item
						.person-card__name Patrick Pool
						.person-card__info CEO. 10 years of experience
						.person-card__button
							.button-block.white
								.button-block__text learn more
								.button-block__bootom
									+image_png('arrow')
							.person-card__mail
								+image_svg('mail')

				.person-card__foto 
					+image_png('foto_13')
					.person-card__item
						.person-card__name Patrick Pool
						.person-card__info CEO. 10 years of experience
						.person-card__button
							.button-block.white
								.button-block__text learn more
								.button-block__bootom
									+image_png('arrow')
							.person-card__mail
								+image_svg('mail')
				.person-card__foto 
					+image_png('foto_11')
					.person-card__item
						.person-card__name Patrick Pool
						.person-card__info CEO. 10 years of experience
						.person-card__button
							.button-block.white
								.button-block__text learn more
								.button-block__bootom
									+image_png('arrow')
							.person-card__mail
								+image_svg('mail')

				.person-card__foto 
					+image_png('foto_12')
					.person-card__item
						.person-card__name Patrick Pool
						.person-card__info CEO. 10 years of experience
						.person-card__button
							.button-block.white
								.button-block__text learn more
								.button-block__bootom
									+image_png('arrow')
							.person-card__mail
								+image_svg('mail')

				.person-card__foto 
					+image_png('foto_13')
					.person-card__item
						.person-card__name Patrick Pool
						.person-card__info CEO. 10 years of experience
						.person-card__button
							.button-block.white
								.button-block__text learn more
								.button-block__bootom
									+image_png('arrow')
							.person-card__mail
								+image_svg('mail')







