.team 
	.team-header
		.container2 
			.team-block 
				.team-block__content-team
					.content-team__logo 
						+image_svg('team251')
					.content-team__text A group of software development companies founded by InSoft Partners in partnership with Belkins Inc. with the founding partners of each of the companies, having operational control of the parent group. Structurally, X-Teams has a single management center (Business Development, Recruiting, Finance) and separate R&D (Delivery and HR). The group of companies also has a single brand and is fully responsible for the work of each R&D that is part of it.
					.content-team__button
						.question-block__button-block
							.question-block__button-text email us for advisory
							.question-block__button-bootom
								+image_png('arrow')
						a.button-block__link(href='') 
							.question-block__button-block.grey-block
								.question-block__button-text--grey email us for advisory
								.question-block__button-bootom--grey
									+image_png('arrowb')
				.team-block__logo-team
					+image_svg('x362')
			.ucode-menu 
				nav.ucode-menu__menu.menu-code
					.menu-code__body
						ul.menu-code__list
							li.menu-code__item
								a.menu-code__link(href='#') Partners
							li.menu-code__item
								a.menu-code__link(href='#') Testimonials
							li.menu-code__item
								a.menu-code__link(href='#') Why choose us?
							li.menu-code__item
								a.menu-code__link(href='#') Our process
							li.menu-code__item
								a.menu-code__link(href='#') network
							li.menu-code__item
								a.menu-code__link(href='#') Team


	.quotes
		.container 
			.quoters-top__top 
				.quoters-top__text The creative economy of Ukraine is developing dynamically. The amount of investments and the number of startups in this industry are growing rapidly. According to experts, revenues in the Ukrainian IT-sector will amount to about $5 billion in 2019. We and our partners are convinced that ITernal Group will take a worthy place in the market and will contribute to the development of the innovative economy of Ukraine
						.quoters-top__autor Vasyl Khmelnytsky
						.quoters-top__founder Founder of UFuture
				.quoters-top__our-project
					.quoters-top__project-title Quotes about Ukrainian IT:
					.quoters-top__project-text 
					.quoters-top__project-autor
						.quoters-top__avatar
							+image_png('hmelnitskyi') 
							

			.quoters-button__team
				.quoters-button__choose-team 
					.quoters-button__choose-title Why Choose Us
					.quoters-button__choose-text
														|Still have some hesitations whether cooperation with us is worth the trouble? Check the reasons why you should choose our teams among other companies!
					.content-team__button
						.button-block.blue
							.button-block__text--b learn more
							.button-block__bootom--b
								+image_png('arrowb')
						.question-block__button-block.grey-block
							.question-block__button-text--grey request a quote
							.question-block__button-bootom--grey
								+image_png('arrowb')

				

				.quoters-button__benefits
					.quoters-button__benefits-item 
						.quoters-button__title Risk-free
							.quoters-button__text International entitles in the US and EU with strong IP rights legal team to support your investment
						.quoters-button__icon
							+image_svg('2ppl')
					.quoters-button__benefits-item 
						.quoters-button__title Results Delivery
							.quoters-button__text We help clients overcome the odds by predicting, measuring and managing the risk
						.quoters-button__icon
							+image_svg('massage')
					.quoters-button__benefits-item 
						.quoters-button__title Strong engineering talents
							.quoters-button__text Our portfolio companies hire engineers with 5 years experience on average
						.quoters-button__icon
							+image_svg('communic')
					.quoters-button__benefits-item 
						.quoters-button__title Dedicated Support Teams 
							.quoters-button__text We higher Customer Success Managers with technical backgrounds to support your project all the way
						.quoters-button__icon
							+image_svg('gear')
					.quoters-button__benefits-item 
						.quoters-button__title Scale up/down fast 
							.quoters-button__text Less than 2 months to launch, terminationation with a 2-weeks notice 
						.quoters-button__icon
							+image_svg('communic')
					.quoters-button__benefits-item 
						.quoters-button__title Corporate Responsiblity 
							.quoters-button__text We connect you only with teams that we invested in with our own dollars 
						.quoters-button__icon
							+image_svg('massage')

				.team-block__button-bg 
					.button-bg__text We are focused on long-term relationships: the average term of cooperation is 5 years.