.team2 
	.container 
		.team2-block__title Our available engagement models
		.team2-block__menu.menu-team2
			nav.header__menu.menu
				.menu__body
					ul.menu__list
						li.menu__item
							a.menu__link(href='about.html') Cost+
						li.menu__item
							a.menu__link(href='about.html') Time and Materials
						li.menu__item
							a.menu__link(href='about.html') Fixed Price
						li.menu__item
							a.menu__link(href='about.html') Combined 


		.team2-block__subtitle Customer journey
		.team2-block__text The Cost Plus includes the cost and a margin, which is an added percentage of the project cost agreed on by both parties. The margin comprises additional effort of the infrastructure and human resources management, project management and consultant fees for the dedicated team set up and once the change is required.
		.team2-block__map
			.team2-block__map-item 
				.team2-block__map-start 
					.map-start__text Start
					.map-start__arrow
						span
				.team2-block__map-block 
					.team2-block__map-interaction 
						.map-interaction__title You
						.map-interaction__text Briefly tell us who you need to achieve your business goal
						.map-interaction__title We
						.map-interaction__text.marck Screen the market and give you availible salary range and a number of possible candidates
						.map-interaction__text.marck Negotiate and sign the contract
				.team2-block__arrow 
					span

			.team2-block__map-item 
				.team2-block__map-start 
					.map-start__text Creating an ideal profile
					.map-start__arrow
						span
						
				.team2-block__map-block
					.team2-block__map-interaction 
						.map-interaction__title You
						.map-interaction__text Give us more details on must-have/preferred hard/soft skills- ideal condidate profiles
						.map-interaction__title We
						.map-interaction__text.marck Create ideal candidate profiles with you
						.map-interaction__text.marck Launch recruiting process
				.team2-block__arrow 
					span

			.team2-block__map-item 
				.team2-block__map-start Recruitment process
				.team2-block__map-block 
					.team2-block__map-interaction 
						.map-interaction__title You
						.map-interaction__text.marck Conduct final interview(s)
						.map-interaction__text.marck Make final hiring decision(s)
						.map-interaction__title We
						.map-interaction__text.marck Interview candidates
						.map-interaction__text.marck Vet candidates at technical interviews
				.team2-block__arrow 
					span

			.team2-block__map-item 
				.team2-block__map-start 
					.map-start__text Job offer and payment
					.map-start__arrow
						span
				.team2-block__map-block 
					.team2-block__map-interaction 
						.map-interaction__title You
						.map-interaction__text Prepare access, technical documentation and team intoduction
						.map-interaction__title We
						.map-interaction__text.marck Sign Job Offer with candidates
						.map-interaction__text.marck Send you an invoice for the 1st month
						.map-interaction__text.marck Prepare accesses, technical documentation, team introduction
				.team2-block__arrow 
					span

			.team2-block__map-item 
				.team2-block__map-start Onboarding
				.team2-block__map-block 
					.team2-block__map-interaction 
						.map-interaction__title You
						.map-interaction__text.marck Make introduction to your team and precesses
						.map-interaction__text.marck Plan work process and put tasks
						.map-interaction__title We
						.map-interaction__text.marck Provide workspace and equipment
						.map-interaction__text.marck Welcome on board and introduce to our team