.ucode
	.ucode-ferst
		.container 
			.ucode-block__ucode-head
				.ucode-head 
					.ucode-head__head-code 
						.head-code__logo
							+image_svg('ucode3')
						.ucode-head_text We can execute even the most unpredictable ideas!
						.question-block__bottom
						.question-block__button-block
							.question-block__button-text email us for advisory
							.question-block__button-bootom
								+image_png('arrow')
					.ucode-head__img-code
						+image_png('a')
				.ucode-menu 
					nav.ucode-menu__menu.menu-code
						.menu-code__body
							ul.menu-code__list
								li.menu-code__item
									a.menu-code__link(href='#') about us
								li.menu-code__item
									a.menu-code__link(href='#') education ecosystem
								li.menu-code__item
									a.menu-code__link(href='#') Partners
								li.menu-code__item
									a.menu-code__link(href='#') Gallery
.ucode-two
	.container 
		.two-block
			.head-code__logo
				+image_svg('ucode4')
			.two-block__block-content 
				.block-content__title.title-ucode ucode
				.block-content__text InSoft Partners in partnership with UFuture founded an IT product company operating in the EduTech segment. The company develops its own software-based educational product, creates content for it, and provides customer support. The ucode software product focuses on providing its customers with a unique set up education programs and services to help these customers to learn how to program. Methodologically, the product uses innovative and progressive approaches Challenged By Learning and Peer-to-Peer learning. ucode develops content together with partners, including Ubisoft, CISCO, Ajax Systems, etc.
	.ucode-ferst
		.container 
			.education-block 
				.education-block__tiile.title-ucode Education Ecosystem
				.education-block__circle-blocks 
					.circle-blocks__item
						.circle-blocks__title Unit City
						.circle-blocks__location Kyiv Campus
					.circle-blocks__item
						.circle-blocks__title ucode connect
						.circle-blocks__location Speakers and Mentors
					.circle-blocks__item
						.circle-blocks__title Online
						.circle-blocks__location Kharkiv Campus
					.circle-blocks__item
						.circle-blocks__title International IT community
						.circle-blocks__location IT Businesses, Speakers & Mentors
					.circle-blocks__item
						.circle-blocks__logo
							+image_svg('ucode3')
						
