.ucode-main 
	.container 
		.ucode-main__partners
			.partners__content 
				.partners__content-title.title-ucode Partners
				.partners__content-text.text-ucode Key partners who help us to realize the ucode IT academy on domestic and international markets
			.partners__firms-logo 
				.firms-logo__item 
					+image_png('parter-ub')
				.firms-logo__item 
					+image_png('partner-har')
				.firms-logo__item 
					+image_png('partner-in')
				.firms-logo__item 
					+image_png('partner-uf')
				.firms-logo__item 
					+image_png('partner-ax')
				.firms-logo__item 
					+image_png('partner-unit')
				
		.ucode-main__academy 
			.ucode-main__academy-content 
				.academy-content_title.title-ucode Become a programmer at the modern academy!
				.academy-info__text.text-ucode A product company that creates an innovative educational platform. The main goal of ucode global project is to make a ‘revolution’ in the approach to IT education: teach students how to code, enhance their team work skills and advance their creativity by searching for unique solutions. ucode doesn’t have teachers, work-books or lectures. ucode aims to help young people to get a profession with opportunities for continuous professional development. ucode wants their graduates to be in demand in the labor market and engaged at interesting and ambitious projects of the modern digital age.
			.ucode-main__academy-info
				.academy-info__item 
					.academy-info__var Industry
					.academy-info__meaning EduTech
				.academy-info__item 
					.academy-info__var Start Date
					.academy-info__meaning July 09, 2018
				.academy-info__item 
					.academy-info__var Location
					.academy-info__meaning Kyiv, Ukraine
		.ucode-main__learning
			.ucode-main__learning-item 
				.learning-item__image 
					+image_png('learning1')
				.learning-item__info 
					.learning-item__title Challenge Based Learning
					.learning-item__details Framework initiated by Apple
					.learning-item__text Real-world challenge-based learning. During the educational process students identify the real-world  problems and find ways to solve it (alone or in teams).
					.learning-item__button 
						.block-project__button
							.button-block.blue
								.button-block__text--b learn more
								.button-block__bootom--b
									+image_png('arrowb')
			.ucode-main__learning-item 
				.learning-item__image 
					+image_png('learning2')
				.learning-item__info 
					.learning-item__title Peer-to-peer learning
					.learning-item__details Teamwork
					.learning-item__text During the educational process, students exchange experiences and evaluate each other's results, what makes education more effective.
					.learning-item__button 
						.block-project__button
							.button-block.blue
								.button-block__text--b learn more
								.button-block__bootom--b
									+image_png('arrowb')
			.ucode-main__learning-item 
				.learning-item__image 
					+image_png('learning3')
				.learning-item__info 
					.learning-item__title Gamification
					.learning-item__details Students pass stages and earn points
					.learning-item__text Gamification makes the educational process more dynamic and effective for knowledge acquisition and necessary skills development.
					.learning-item__button 
						.block-project__button
							.button-block.blue
								.button-block__text--b learn more
								.button-block__bootom--b
									+image_png('arrowb')