
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title INSOFT
.wraper
include pug/_menu
include pug/_block-start
include pug/_block-project
include pug/_block-investing
include pug/_block-news
include pug/_footer